<div class="">
    <div class="network-status">
        <header>
            <i class="bi bi-wifi-off"></i>
            <p>Your device is currently offline.</p>
        </header>
    </div>

    <button id="reload" class="btn btn-outline-secondary my-1">Reload</button>

    <div id="notifyContent" class="notification d-none">
        <p>Notification Status: <span class="status"></span></p>
        <div class="buttons">
            <button id="subscribe" class="btn btn-outline-secondary"></button>
            <button id="unsubscribe" class="btn btn-outline-danger"></button>
        </div>
        <button id="send" class="btn btn-outline-success"></button>
    </div>

</div>